In [1]:
ls

README.md                     images/
clean_group_merge_data.ipynb  merged_dist_time_data.csv
county_pop.csv                time.csv
district_data.csv

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
dist_df=pd.read_csv("district_data.csv")
time_df=pd.read_csv("time.csv")
county_pop_df=pd.read_csv("county_pop.csv")

In [4]:
columns_to_keep_district=["District No.", 
                        "District Name", 
                        "Location Address", 
                        "Land Area in Square Miles", 
                        "Home County", 
                        'K-12 Enrollment Fall 2017', 
                        'Dropout Rate\n (%)', 
                        "Attendance Rate",
                        "Free & Reduced Lunch Eligibility Percentage", 
                        "Percent of Special Education Students", 
                        "Average Teacher Salary", 
                        "Teacher - Avg Yrs of Experience", 
                        "Teacher - % with Advanced Degree", 
                        "ACT Composite Score", 
                        "No. of Students Taking the ACT" ]

columns_to_keep_time=["District Number",
                      "School Name",
                      "Instructional Days",
                      "Instructional Minutes",
                      "Instructional Hours",
                      "Operating 4 Day"]

dist_data_keeping_columns=dist_df.loc[:,columns_to_keep_district]
time_data_keeping_columns=time_df.loc[:,columns_to_keep_time]

In [5]:
time_data_keeping_columns["4_day_bin"]=pd.Series(np.where(time_data_keeping_columns["Operating 4 Day"].values == 'Yes', 1, 0),
          time_data_keeping_columns.index)

In [6]:
grouped_time_df=time_data_keeping_columns.groupby(['District Number']).mean()
grouped_time_df["4_day_bin"].value_counts()

0.000000    113
1.000000     31
0.666667      1
0.800000      1
0.750000      1
0.875000      1
0.250000      1
Name: 4_day_bin, dtype: int64

In [7]:
new_df=dist_data_keeping_columns.join(grouped_time_df, on="District No.", how='left')

In [8]:
pop_dict=dict(zip(county_pop_df["County"],county_pop_df["Population"]))

#Get counties from population df to match counties from school district df. Map population stat onto school district data frame by county.
pop_dict['Mc Cook'] = pop_dict["McCook"]
del pop_dict["McCook"]
pop_dict["McPherson_Sanborn"] = pop_dict['Sanborn\xa0and\xa0McPherson']
del pop_dict['Sanborn\xa0and\xa0McPherson']
new_df.iloc[103,4]='Oglala Lakota'
new_df.iloc[[47,84,114,147],4]="McPherson_Sanborn"


new_df['county_population'] = new_df['Home County'].map(pop_dict)
new_df

,District No.,District Name,Location Address,Land Area in Square Miles,Home County,K-12 Enrollment Fall 2017,Dropout Rate (%),Attendance Rate,Free & Reduced Lunch Eligibility Percentage,Percent of Special Education Students,Average Teacher Salary,Teacher - Avg Yrs of Experience,Teacher - % with Advanced Degree,ACT Composite Score,No. of Students Taking the ACT,Instructional Days,Instructional Minutes,Instructional Hours,4_day_bin,county_population
0,6001,Aberdeen School District 06-1,"1224 3rd St S, Aberdeen, SD 57401",419.72,Brown,4502,0.019,0.9497,0.369,0.1649,"48,431",13.0,0.3789,21.6,219,173.818182,62757.727273,1045.962121,0.00,38637.0
1,58003,Agar-Blunt-Onida School District 58-3,"500 8th St, Onida, SD 57564",1223.78,Sully,250,0.009,0.9575,0.296,0.1720,"43,267",17.9,0.2164,24.3,11,169.000000,59326.000000,988.766665,0.00,1390.0
2,61001,Alcester-Hudson School District 61-1,"102 E 5th, Alcester, SD 57001",194.25,Union,309,0.007,0.9477,0.259,0.1896,"42,273",8.0,0.2018,20.4,16,170.000000,61809.666667,1030.161110,0.00,14929.0
3,11001,Andes Central School District 11-1,"400 School St, Lake Andes, SD 57356",204.29,Charles Mix,316,0.071,0.9405,NaN,0.1114,"46,041",13.1,0.3030,NaN,9,162.200000,64569.400000,1076.156666,0.00,9319.0
4,38001,Arlington School District 38-1,"306 S Main St, Arlington, SD 57212",231.55,Kingsbury,258,0.000,0.9662,0.174,0.1227,"45,078",15.7,0.3274,22.9,12,166.000000,60244.000000,1004.066665,0.00,5000.0
5,21001,Armour School District 21-1,"604 3rd St, Armour, SD 57313",129.51,Douglas,167,0.000,0.9719,0.281,0.1198,"41,821",13.5,0.2857,21.8,11,175.000000,66143.666667,1102.394443,0.00,2940.0
6,4001,Avon School District 04-1,"210 Pine St, Avon, SD 57315",179.46,Bon Homme,230,0.000,0.9708,0.374,0.1667,"43,629",18.0,0.2456,23.4,14,165.250000,60179.250000,1002.987500,0.00,6972.0
7,49001,Baltic School District 49-1,"1 Bulldog Ave, Baltic, SD 57003",54.28,Minnehaha,486,0.009,0.9696,0.158,0.1111,"45,786",13.1,0.4167,21.6,28,179.500000,63681.000000,1061.350000,0.00,183660.0
8,9001,Belle Fourche School District 09-1,"2305 13th Ave, Belle Fourche, SD 57717",956.93,Butte,1378,0.016,0.9524,0.459,0.1814,"44,128",12.0,0.3261,21.8,58,158.000000,62122.400000,1035.373334,0.80,10194.0
9,3001,Bennett County School District 03-1,"403 1st Ave, Martin, SD 57551",1190.93,Bennett,480,0.037,0.9169,0.783,0.1475,"44,788",14.2,0.1405,18.9,22,149.333333,62060.000000,1034.333333,1.00,3440.0
10,61002,Beresford School District 61-2,"301 W Maple St, Beresford, SD 57004",205.09,Union,673,0.018,0.9514,0.212,0.1248,"46,718",14.9,0.5730,22.6,41,172.000000,61186.333333,1019.772223,0.00,14929.0
11,25001,Big Stone City School District 25-1,"655 Walnut St, Big Stone City, SD 57216",20.66,Grant,80,0.050,0.9487,0.525,0.0990,"41,245",19.3,0.2727,NaN,0,167.000000,57583.500000,954.908330,0.00,7133.0
12,52001,Bison School District 52-1,"200 E Carr St, Bison, SD 57620",1335.65,Perkins,152,0.000,0.9490,0.362,0.1776,"47,269",11.8,0.0123,20.5,10,142.000000,59505.333333,991.755553,1.00,2964.0
13,4002,Bon Homme School District 04-2,"1404 Fir St, Tyndall, SD 57066",316.11,Bon Homme,522,0.005,0.9671,0.383,0.1264,"41,264",13.8,0.2353,21.4,23,150.000000,56829.333333,947.155556,1.00,6972.0
14,22001,Bowdle School District 22-1,"3083 2nd Ave, Bowdle, SD 57428",274.91,Edmunds,109,0.000,0.9625,0.358,0.1008,"40,856",14.9,0.0952,NaN,3,166.000000,62792.000000,1046.533333,0.00,3971.0
15,49002,Brandon Valley School District 49-2,"300 S Splitrock Blvd, Brandon, SD 57005",126.20,Minnehaha,4019,0.003,0.9608,0.196,0.1312,"50,191",13.1,0.3785,23.5,208,175.000000,62078.285714,1034.638093,0.00,183660.0
16,30003,Bridgewater-Emery School District 30-3,"510 N Main St, Bridgewater, SD 57319",229.82,Hanson,331,0.007,0.9547,0.341,0.1701,"40,899",16.5,0.2047,20.6,18,174.000000,68233.666667,1137.227780,0.00,3404.0
17,45004,Britton-Hecla School District 45-4,"759 5th St, Britton, SD 57430",661.07,Marshall,414,0.006,0.9611,0.367,0.1546,"44,005",15.6,0.2256,21.5,25,165.500000,59937.500000,998.958335,0.00,4759.0
18,5001,Brookings School District 05-1,"2130 8th St S, Brookings, SD 57006",193.82,Brookings,3405,0.017,0.9497,0.241,0.1677,"46,630",14.6,0.3865,24.4,165,173.000000,62711.666667,1045.194443,0.00,33697.0
19,26002,Burke School District 26-2,"900 Washington St, Burke, SD 57523",350.46,Gregory,229,0.000,0.9598,0.441,0.1281,"48,817",21.8,0.2375,NaN,8,145.000000,52320.500000,872.008333,0.00,4209.0
20,43001,Canistota School District 43-1,"431 4th Ave, Canistota, SD 57012",98.49,Mc Cook,209,0.000,0.9565,0.325,0.1542,"45,214",12.7,0.2348,20.8,11,177.000000,65533.000000,1092.216667,0.00,5515.0
21,41001,Canton School District 41-1,"800 N Main St, Canton, SD 57013",194.10,Lincoln,870,0.020,0.9661,0.252,0.1736,"44,034",12.1,0.2871,22.4,52,181.000000,66313.750000,1105.229165,0.00,53147.0
22,28001,Castlewood School District 28-1,"310 E Harry St, Castlewood, SD 57223",129.87,Hamlin,282,0.008,0.9606,0.220,0.1148,"43,551",14.8,0.1449,22.3,20,169.000000,64052.250000,1067.537500,0.00,5911.0
23,60001,Centerville School District 60-1,"610 Lincoln St, Centerville, SD 57014",138.78,Turner,263,0.000,0.9540,0.437,0.1637,"43,029",13.8,0.3077,NaN,9,171.000000,62211.000000,1036.850000,0.00,8242.0
24,7001,Chamberlain School District 07-1,"1000 Sorensen Drive, Chamberlain, SD 57325",928.68,Brule,895,0.003,0.9433,0.516,0.1218,"45,252",15.2,0.3488,19.8,39,171.250000,61530.000000,1025.500000,0.00,5280.0
25,39001,Chester Area School District 39-1,"102 2nd Ave, Chester, SD 57016",140.94,Lake,566,0.144,0.9817,0.152,0.0963,"47,124",15.6,0.3659,21.2,17,170.000000,65699.714286,1094.995237,0.00,12350.0
26,12002,Clark School District 12-2,"220 N Clinton St, Clark, SD 57225",623.98,Clark,354,0.016,0.9678,0.418,0.1440,"45,059",16.8,0.1759,NaN,7,163.000000,59684.666667,994.744445,0.00,3642.0
27,50005,Colman-Egan School District 50-5,"200 S Loban Ave, Colman, SD 57017",161.14,Moody,244,0.000,0.9686,0.254,0.1707,"40,462",10.3,0.0941,19.6,15,169.000000,63170.000000,1052.833337,0.00,6496.0
28,59003,Colome Consolidated School District 59-3,"105 Carr St, Colome, SD 57528",806.48,Tripp,223,0.000,0.9394,0.525,0.1362,"40,479",12.6,0.1489,NaN,7,167.000000,64999.500000,1083.325000,0.00,5480.0
29,21003,Corsica-Stickney School District 21-3,"120 S Napoleon Ave, Corsica, SD 57328",382.46,Douglas,251,0.000,0.9822,0.323,0.1493,"43,384",17.5,0.1261,22.0,11,173.000000,65463.333333,1091.055557,0.00,2940.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,54002,Sisseton School District 54-2,"516 8th Ave W, Sisseton, SD 57262",851.28,Roberts,882,0.012,0.9891,0.654,0.2306,"45,003",14.9,0.2478,20.5,33,166.000000,62360.666667,1039.344443,0.00,10250.0
120,15003,Smee School District 15-3,"12250 SD Hwy 1806, Wakpala, SD 57658",200.38,Corson,200,0.022,0.9295,NaN,0.2450,"47,523",13.6,0.3448,NaN,9,163.000000,60480.000000,1008.000000,0.00,4177.0
121,26005,South Central School District 26-5,"401 Birdsell St, Bonesteel, SD 57317",316.05,Gregory,96,0.103,0.9455,0.660,0.1204,"44,148",14.5,0.3521,NaN,6,289.666667,101858.000000,1697.633333,0.00,4209.0
122,40002,Spearfish School District 40-2,"525 E Illinois St, Spearfish, SD 57783",283.88,Lawrence,2390,0.004,0.9525,0.276,0.1339,"47,623",13.3,0.3365,23.1,108,172.375000,60566.625000,1009.443749,0.00,25018.0
123,57001,Stanley County School District 57-1,"112 S 1st Ave, Fort Pierre, SD 57532",1516.58,Stanley,449,0.009,0.9554,0.344,0.1514,"42,518",14.1,0.2696,19.1,18,160.000000,63463.500000,1057.724998,1.00,2994.0
124,54006,Summit School District 54-6,"400 W Sherman Ave, Summit, SD 57266",156.53,Roberts,149,0.014,0.9509,0.631,0.1595,"39,376",10.5,0.2969,NaN,5,153.000000,58553.250000,975.887500,1.00,10250.0
125,41005,Tea Area School District 41-5,"131 N Poplar, Tea, SD 57064",22.59,Lincoln,1773,0.004,0.9684,0.183,0.1168,"45,700",10.3,0.3113,20.7,66,173.000000,62582.500000,1043.041665,0.00,53147.0
126,20003,Timber Lake School District 20-3,"500 Main St, Timber Lake, SD 57656",1253.91,Dewey,353,0.000,0.9641,0.465,0.1397,"48,701",12.7,0.1176,20.4,19,151.250000,51219.000000,853.650003,0.00,5709.0
127,66001,Todd County School District 66-1,"110 E Denver Dr, Mission, SD 57555",1390.39,Todd,2037,0.057,0.8207,NaN,0.1831,"46,381",8.0,0.2113,15.2,61,165.357143,60359.000000,1005.983333,0.00,10016.0
128,33005,Tripp-Delmont School District 33-5,"105 S Sloan St, Tripp, SD 57376",250.88,Hutchinson,151,0.048,0.9447,0.503,0.1875,"37,634",11.8,0.0693,NaN,7,146.000000,57039.000000,950.648668,1.00,7277.0
129,49006,Tri-Valley School District 49-6,"46450 252nd St, Colton, SD 57018",147.61,Minnehaha,916,0.010,0.9662,0.254,0.1539,"47,043",14.7,0.1597,20.1,34,172.000000,62777.333333,1046.288887,0.00,183660.0
130,13001,Vermillion School District 13-1,"17 Prospect St, Vermillion, SD 57069",179.07,Clay,1216,0.009,0.9468,0.331,0.1349,"43,913",14.6,0.5203,21.6,77,172.500000,60124.500000,1002.075000,0.00,13907.0
131,60006,Viborg-Hurley School District 60-6,"203 W Park Ave, Viborg, SD 57070",206.54,Turner,342,0.000,0.9519,0.330,0.1413,"40,901",9.6,0.1359,19.4,19,157.500000,59728.500000,995.475000,0.75,8242.0
132,11004,Wagner Community School District 11-4,"101 Walnut Ave SW, Wagner, SD 57380",329.68,Charles Mix,847,0.039,0.9395,NaN,0.1211,"47,970",12.8,0.4330,20.3,26,168.333333,59134.333333,985.572223,0.00,9319.0
133,51005,Wall School District 51-5,"401 S Blvd W, Wall, SD 57790",1319.83,Pennington,257,0.009,0.9517,0.358,0.0584,"47,086",12.7,0.1099,21.7,11,146.000000,58380.000000,973.000000,1.00,108126.0
134,6005,Warner School District 06-5,"110 1st Ave SW, Warner, SD 57479",188.99,Brown,313,0.000,0.9748,0.089,0.1118,"44,274",13.2,0.2088,23.0,20,169.000000,61417.333333,1023.622220,0.00,38637.0
135,14004,Watertown School District 14-4,"200 NE 9th St, Watertown, SD 57201",326.16,Codington,3913,0.013,0.9569,0.351,0.1527,"50,707",15.7,0.3583,22.3,209,174.500000,64059.500000,1067.658333,0.00,27963.0
136,18003,Waubay School District 18-3,"202 W School Rd, Waubay, SD 57273",199.00,Day,168,0.063,0.9261,0.702,0.1803,"41,615",13.1,0.3500,NaN,5,169.000000,61367.666667,1022.794447,0.00,5524.0
137,14005,Waverly School District 14-5,"319 Mary Pl, Waverly, SD 57201",250.55,Codington,245,0.000,0.9634,0.380,0.2038,"44,884",12.7,0.2500,19.6,11,174.000000,63312.000000,1055.200000,0.00,27963.0
138,18005,Webster Area School District 18-5,"102 E 9th Ave, Webster, SD 57274",491.95,Day,533,0.000,0.9589,0.221,0.1514,"43,702",16.4,0.2143,20.6,21,152.250000,55592.500000,926.541665,0.00,5524.0
139,36002,Wessington Springs School District 36-2,"302 Dakota Ave N, Wessington Springs, SD 57382",745.67,Jerauld,332,0.014,0.9582,0.202,0.1236,"41,503",17.2,0.3645,19.6,14,206.000000,83061.428571,1384.357143,0.00,2034.0
140,49007,West Central School District 49-7,"705 E 2nd St, Hartford, SD 57033",165.12,Minnehaha,1351,0.020,0.9664,0.179,0.1318,"47,731",14.1,0.4000,21.9,89,170.000000,63462.000000,1057.700000,0.00,183660.0
141,1003,White Lake School District 01-3,"502 E Division St, White Lake, SD 57383",245.78,Aurora,115,0.000,0.9585,0.548,0.1024,"42,986",15.9,0.4462,NaN,7,169.000000,54270.200000,904.503334,0.00,2739.0
142,47001,White River School District 47-1,"501 E 3rd St, White River, SD 57579",914.15,Mellette,401,0.043,0.9413,NaN,0.1890,"41,970",13.7,0.1620,20.1,15,151.000000,61683.500000,1028.058335,1.00,2062.0
143,12003,Willow Lake School District 12-3,"400 Garfield Ave, Willow Lake, SD 57278",301.87,Clark,237,0.011,0.9624,0.321,0.1200,"46,094",12.5,0.1327,NaN,6,163.000000,56020.000000,933.666667,0.00,3642.0
144,54007,Wilmot School District 54-7,"800 Ordway St, Wilmot, SD 57279",224.89,Roberts,220,0.000,0.9570,0.536,0.1992,"39,972",12.1,0.0513,NaN,7,172.000000,59598.666667,993.311110,0.00,10250.0
145,59002,Winner School District 59-2,"431 E 7th St, Winner, SD 57580",1184.79,Tripp,722,0.003,0.9406,0.457,0.1440,"45,322",15.1,0.1597,21.1,36,149.000000,58706.000000,978.433330,1.00,5480.0
146,2006,Wolsey-Wessington Sch District 02-6,"375 Ash St SE, Wolsey, SD 57384",401.79,Beadle,362,0.000,0.9651,0.388,0.1406,"41,838",9.9,0.0702,NaN,7,153.000000,57300.000000,955.000003,1.00,18163.0
147,55004,Woonsocket School District 55-4,"101 N 2nd Ave, Woonsocket, SD 57385",219.97,McPherson_Sanborn,232,0.000,0.9621,0.401,0.1020,"40,176",11.2,0.0920,NaN,9,170.333333,58554.333333,975.905557,0.00,2366.0
148,63003,Yankton School District 63-3,"2410 West City Limits Rd, Yankton, SD 57078",216.07,Yankton,2715,0.000,0.9629,0.354,0.1722,"51,465",18.6,0.5330,23.4,149,173.000000,62502.166667,1041.702780,0.00,22660.0

In [9]:
new_df["zip"]=[int(str[-5:]) for str in new_df["Location Address"]]

In [10]:
mask=new_df["zip"]==57532
new_df[mask]

,District No.,District Name,Location Address,Land Area in Square Miles,Home County,K-12 Enrollment Fall 2017,Dropout Rate (%),Attendance Rate,Free & Reduced Lunch Eligibility Percentage,Percent of Special Education Students,Average Teacher Salary,Teacher - Avg Yrs of Experience,Teacher - % with Advanced Degree,ACT Composite Score,No. of Students Taking the ACT,Instructional Days,Instructional Minutes,Instructional Hours,4_day_bin,county_population,zip
123,57001,Stanley County School District 57-1,"112 S 1st Ave, Fort Pierre, SD 57532",1516.58,Stanley,449,0.009,0.9554,0.344,0.1514,"42,518",14.1,0.2696,19.1,18,160.0,63463.5,1057.724998,1.0,2994.0,57532

In [11]:
new_df.to_csv("merged_dist_time_data.csv")

In [12]:
new_df.isna().sum(axis=0)

District No.                                    0
District Name                                   0
Location Address                                0
Land Area in Square Miles                       0
Home County                                     0
K-12 Enrollment Fall 2017                       0
Dropout Rate\n (%)                              0
Attendance Rate                                 0
Free & Reduced Lunch Eligibility Percentage    11
Percent of Special Education Students           1
Average Teacher Salary                          0
Teacher - Avg Yrs of Experience                 0
Teacher - % with Advanced Degree                0
ACT Composite Score                            41
No. of Students Taking the ACT                  0
Instructional Days                              0
Instructional Minutes                           0
Instructional Hours                             0
4_day_bin                                       0
county_population                               0
zip                                             0
dtype: int64