In [5]:
import pandas as pd
pd.set_option('display.max_columns', None)

README.md          district_data.csv  time.csv
Untitled.ipynb     images/

In [29]:
dist_df=pd.read_csv("district_data.csv")
time_df=pd.read_csv("time.csv")
time_df.head()

,District Number,District Name,School Name,School Number,Calendar Name,Instructional Days,Instructional Minutes,Instructional Hours,Operating 4 Day
0,6001,Aberdeen 06-1,Aberdeen Alternative Learning Center,12,17-18 Aberdeen Alternative Lea,174,64722,1078.70,No
1,6001,Aberdeen 06-1,C.C. Lee Elementary,5,17-18 C.C. Lee Elementary,173,59985,999.75,No
2,6001,Aberdeen 06-1,Central High School,1,17-18 Central High School,173,69390,1156.50,No
3,6001,Aberdeen 06-1,Holgate Middle School,2,17-18 Holgate Middle School,174,62766,1046.10,No
4,6001,Aberdeen 06-1,Lincoln Elementary,8,17-18 Lincoln Elementary,174,60315,1005.25,No

In [30]:
columns_to_keep_district=["District No.", 
                        "District Name", 
                        "Location Address", 
                        "Land Area in Square Miles", 
                        "Home County", 
                        'K-12 Enrollment Fall 2017', 
                        "Dropout Rate (%)", 
                        "Attendance Rate",
                        "Free & Reduced Lunch Eligibility Percentage", 
                        "Percent of Special Education Students", 
                        "Average Teacher Salary", 
                        "Teacher - Avg Yrs of Experience", 
                        "Teacher - % with Advanced Degree", 
                        "ACT Composite Score", 
                        "No. of Students Taking the ACT" ]

columns_to_keep_time=["District Number",
                      "School Name",
                      "Instructional Days",
                      "Instructional Minutes",
                      "Instructional Hours",
                      "Operating 4 Day"]

dist_data_keeping_columns=dist_df.loc[:,columns_to_keep_district]
time_data_keeping_columns=time_df.loc[:,columns_to_keep_time]

In [33]:
print(len(dist_df),len(dist_data_keeping_columns))

149 149

In [ ]:
time_data_keeping_columns[""]